@page
@model IndexModel
@{
    ViewData["Title"] = "Jack's Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jack's Web Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <div class="text-center">
     <p>Hello World</p>
     <form action="/Greet/Index" method="get">
         <input type ="text" name="name" />
         <input type="submit" value="Submit" />
             </form>
 </div>